<div class="menu-list">
  <%= link_to({ controller: 'sync/admin/home' }, text: true, data: { turbo_frame: 'body', action: 'menu#enter' }, class: 'menu-item') do %>
    <i class="fa-solid fa-fw fa-sitemap"></i>
    <strong><%= t('sync.admin.title') %></strong>
  <% end %>
  <div class="pl-4">
    <%= link_to t('sync.admin.apps.index.title'), { controller: 'sync/admin/apps' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['apps'], item: 'menu-item', active: 'menu-item is-active') %>
  </div>
</div>
