<%= button_to({ action: 'sync', **request.query_parameters.except(:id) }, class: 'button is-link') do %>
  <i class="fa-solid fa-plus"></i>
  <span class="pl-1"><%= t('.sync.title') %></span>
<% end %>
