<div>
  <dt><%= Sync::Record.human_attribute_name(:name) %></dt>
  <dd><%= @record.name %></dd>
</div>
<div>
  <dt><%= Sync::Record.human_attribute_name(:key) %></dt>
  <dd><%= @record.key %></dd>
</div>
