<th>
  <p><%= Qingflow::Log.human_attribute_name(:related_type) %></p>
  <p><%= Qingflow::Log.human_attribute_name(:related_id) %></p>
</th>
<th><%= Qingflow::Form.human_attribute_name(:exception) %></th>
