<div>
  <dt><%= Qingflow::Form.human_attribute_name(:title) %></dt>
  <dd><%= @form.title %></dd>
</div>
<div>
  <dt><%= Qingflow::Form.human_attribute_name(:queid) %></dt>
  <dd><%= @form.queid %></dd>
</div>
